matplotlib==3.0.2
numpy==1.15.4
pandas==0.23.4
torch==1.0.0
torchtext==0.3.1
spacy==2.0.18
scipy==0.19.1
seaborn==0.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
